@use "sass:math";

$IMAGE: '../img/';
$ratio: math.div(3, 2);

h1 {
    color: blue;
}

.img {
    width: min(100% - 80px, 600px);
    height: auto;
    background: url("#{$IMAGE}a.png") no-repeat center center/cover;
    aspect-ratio: $ratio;
    margin: 0 auto 40px;
}

.test {
    width: min(100% - 80px, 600px);
    height: auto;
    background: url("#{$IMAGE}b.jpg") no-repeat center center/cover;
    aspect-ratio: $ratio;
    margin: 0 auto;
}
